<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">

        <h1 class="text-center" style="color: #F0F7F4;
        text-shadow: #555 2px 2px 3px;
        font-weight: normal;
        font-size: 70px;
        font-family: Gotham;
        text-transform: uppercase;">
        NPQ
    </h1>

    </div>

 
</section><!-- End Hero -->


<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container">

        <div class="section-title " >
            <h2 style="font-family: Gotham;">Videos</h2>

        </div>

        <H4 class="text-center" style="font-family: Gotham;">WEB SHOW</H4>
        
        <div class="card border-info"  style="background: #F0F7F4; " >
            <div class="container mt-4 mb-4">
                <div class="row">
                    <div class="col container" >

                        <div class="card-group">
                            <div class="card">
                              <img src="../../../assets/Cover 1 .jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title" style="font-family: Gotham;">Nadie pensaría que... (01)</h5>
                                <hr>
                                <p class="card-text">ENTREVISTA CON: <STROng>FEDERICO ROBLES </STROng></p>
      
                              </div>
                              <div class="mb-2 container">
                                <button class="btn btn-info btn btn-block"> <a href="https://drive.google.com/drive/folders/1YL_9nkBQjzvUbs6jGs7HrxQHiywSAuBI" target="_blank"rel="noopener noreferrer" ><i style="color: #F0F7F4;" class="bx bx-play" >Ver video </i> </a> </button>
                            </div>
                            </div>
                            <div class="card">
                              <img  src="../../../assets/Cover 2.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title" style="font-family: Gotham;">Nadie pensaría que... (02)</h5>
                                <hr>
                                <p class="card-text">ENTREVISTA CON:  <STROng>ERICK CASTREJÓN</STROng></p>

                              </div>
                              <div class="mb-2 container">
                                <button class="btn btn-info btn btn-block"> <a href="https://drive.google.com/drive/folders/1YL_9nkBQjzvUbs6jGs7HrxQHiywSAuBI" target="_blank"><i style="color: #F0F7F4;" class="bx bx-play" >Ver video </i> </a> </button>
                            </div>
                            </div>
                            <div class="card">
                              <img src="../../../assets/Cover 3.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title" style="font-family: Gotham;">Nadie pensaría que... (03)</h5>
                                <hr>
                                <p class="card-text">ENTREVISTA CON: <STROng>STEPHANY VÁZQUEZ</STROng></p>

                              </div>
                              <div class="mb-2 container">
                                <button class="btn btn-info btn btn-block"> <a href="https://drive.google.com/drive/folders/1YL_9nkBQjzvUbs6jGs7HrxQHiywSAuBI" target="_blank"><i style="color: #F0F7F4;" class="bx bx-play" >Ver video </i> </a> </button>
                            </div>
                            </div>
                            <div class="card">
                                <img src="../../../assets/Cover 4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title" style="font-family: Gotham;">Nadie pensaría que... (04)</h5>
                                  <hr>
                                  <p class="card-text" >ENTREVISTA CON: <STROng>PABLO RODRÍGUEZ</STROng></p>
                                </div>
                                <div class="mb-2 container">
                                    <button class="btn btn-info btn btn-block"> <a href="https://drive.google.com/drive/folders/1YL_9nkBQjzvUbs6jGs7HrxQHiywSAuBI" target="_blank"><i style="color: #F0F7F4;" class="bx bx-play" >Ver video </i> </a> </button>
                                </div>
                              </div>
                          </div>
                        
                       

                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!-- End Portfolio Section -->


 <!-- ======= Resume Section ======= -->
 <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2  style="font-family: Gotham;">Documentación</h2>
        <p style="font-family: Gotha; font-size: x-large;">Evidencias de la elaboración del proyecto "Nadie Pensaría Que...", todo el proceso que se siguió para la realización correcta de este producto.
            Realización de guion.
            Grabación.
            Edición de videos y materiales visuales.
            Realización de página Web.
            Diseño de Página Web.</p>
      </div>

      <div class="row">
        <div class="col-lg-6 " data-aos="fade-up">
          <h3 class="resume-title">Fotos: </h3>

          <div class="card-group  container " style="width: 50rem;">
            <div class="card">
                <img src="../../../assets/Leonardo.jpg " alt="..." class="img-thumbnail">
            </div>
            <div class="card">
                <img src="../../../assets/Josue.jpg" alt="..." class="img-thumbnail">
            </div>

          </div>

          <div class="card-group container" style="width: 50rem;">
            <div class="card">
                <img src="../../../assets/Angelica 2.jpg " alt="..." class="img-thumbnail">
            </div>
            <div class="card">
                <img src="../../../assets/Ale y Mosne.jpg " alt="..." class="img-thumbnail">
            </div>
         
          </div>


      
            


  
    
        </div>

      </div>

    </div>
  </section><!-- End Resume Section -->

  <!-- ======= About Section ======= -->
<section id="about" class="about" >
    <div class="container">

        <div class="section-title">
            <h2 style="font-family: Gotham;">Contacto</h2>
            <p style="font-family: Gotham; font-size: x-large;">“Nadie pensaría que...” un web show semanal conducido por el carismático Josué Fabrizzio, que trae contenido de primera mano, para que pases un buen rato de risas y diversión. No te pierdas a nuestro conductor favorito y los invitados que nos acompañan en cada emisión, divertirse mientras platican, juegan y hasta revelan uno que otro secreto.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 "  data-aos="fade-right">
                <img src="../../../assets/Nadie pensaría que Logo Web.png" class="img-fluid" alt="Nadie pensaria que...">
           
            </div>
        
            
            <div class="col-lg-8 pt-4  pt-lg-0 content" data-aos="fade-left">
                <h3>Contáctanos:</h3>

                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <ul>
                            <li><i class="icofont-rounded-right"></i> <strong>Correo: </strong>nadiepensaríaque@gmail.com </li>
                            
                            <li><i class="icofont-rounded-right"></i> <strong>Telefono:</strong> +52 55 641 420 13 </li>
                         
                        </ul>
                    </div>
                   
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <h3>Redes Sociales: </h3>
                      <ul>
                          <li><i class="icofont-rounded-right bx bxl-facebook" ></i> <strong>Facebook: </strong>ProduccionesMOLI</li>
                          <li><i class="icofont-rounded-right bx bxl-instagram"></i><strong>Instagram: </strong>@produccionesmoli</li>
                          <li><i class="icofont-rounded-right bx bxl-twitter"></i> <strong>Twitter: </strong>@ProduccionMOLI</li>

                          
                          
                       
                      </ul>
                  </div>
                 
              </div>
                <p style="font-family: Gotham; font-size: x-large;">  
                    “Nadie pensaría que..." el programa indicado para verlo con tu familia, amigos, pareja o sólo, en dónde se divertirán tanto chicos como grandes.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
