  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
      <img src="../../../assets/img/Nadie pensaría que Logo.png" alt="img" >
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/ProduccionMOLI?s=12" target="_blank"rel="noopener noreferrer" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/ProduccionesMOLI/" target="_blank"rel="noopener noreferrer" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/produccionesmoli/?igshid=1isx52ibf9h3s" target="_blank"rel="noopener noreferrer" class="instagram"><i class="bx bxl-instagram"></i></a>
          
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="index.html"><i class="bx bx-home"></i> <span style="font-family: Gotham;">Inicio</span></a></li>
          <li style="font-family: Gotham;"><a href="#portfolio"><i class="bx bx-book-content"></i> Videos</a></li>
          <li style="font-family: Gotham;"><a href="#resume"><i class="bx bx-file-blank"></i> <span>Documentación</span></a></li>
          <li style="font-family: Gotham;"><a href="#about"><i class="bx bx-user"></i> <span>Contacto</span></a></li>


        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

